env/
.vscode/
__pycache__
*.pyc
.DS_Store
secrets.sh
git
node_modules/

# FRONT-END IGNORES #

# dependencies
/front-end/node_modules
/front-end/.pnp
/front-end/.pnp.js

# testing
/front-end/coverage

# production
/front-end/build

# misc
/front-end/.DS_Store
/front-end/.env.local
/front-end/.env.development.local
/front-end/.env.test.local
/front-end/.env.production.local

/front-end/npm-debug.log*
/front-end/yarn-debug.log*
/front-end/yarn-error.log*